/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header_wrapper{
  background: linear-gradient(252.44deg, #5906C2 0%, #7240C4 95.92%);

}
.header_wrapper .navbar {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
  max-width: 210px;
  height: auto;
}

.header_wrapper .menu-navbar-nav {
  width: 70%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.header_wrapper .nav-item .nav-link {
  margin: 0 10px;
  color: #FFFFFF;
}

.header_wrapper .nav-item .nav-link:hover {
  color: gray;
}

.learn-more-btn {
  background-color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  color: black;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  display: inline-block;
  text-decoration: none;
  transition: 0.7s;
}

/* banner section  */

.main_wrapper .banner-title {
  margin-top: 10rem;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #FFFFFF;
}

.main_wrapper .banner-title-text {
  color: #FFFFFF;
}

/* cards */
.main_wrapper .card-group{
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.main_wrapper .card-title-text{
  color: #FFFFFF;
  margin-top: 8rem;
}
.main_wrapper .ft-1 {
  background: #1BC0C0;
  border-radius: 15px;
  height: 200px;
  width: 200px;
  border-radius: 19px;
}

.main_wrapper .ft-1::before {
  content: url(../image/layer.png);
  position: absolute;
  margin-top: 44px;
  margin-left: 35px;
}
.main_wrapper .ft-1 p{
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  padding: 10px 10px;
}
.main_wrapper .ft-1 i{
  color: #FFFFFF;
  font-size: 25px;
  margin-top: -20px;
  margin-left: 1rem;
}

/* 2 */

.main_wrapper .ft-2 {
  background:#FFD600;
  border-radius: 15px;
  height: 200px;
  width: 200px;
  margin-left: 6rem;
  border-radius: 19px;

}

.main_wrapper .ft-2 img {
  margin-top: -49px;
}
.main_wrapper .ft-2 p{
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  padding: 10px 10px;
}
.main_wrapper .ft-2 i{
  color: #FFFFFF;
  font-size: 25px;
  margin-top: -20px;
  margin-left: 1rem;
}

/* 3 */

.main_wrapper .ft-3 {
  background:#FF8ADE;
  border-radius: 15px;
  height: 200px;
  width: 200px;
  margin-left: 12rem;
  border-radius: 19px;

}

.main_wrapper .ft-3::before {
  content: url(../image/layer2.png);
  position: absolute;
  margin-top: 44px;
  margin-left: 35px;
}
.main_wrapper .ft-3 p{
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  padding: 10px 10px;
}
.main_wrapper .ft-3 i{
  color: #FFFFFF;
  font-size: 25px;
  margin-top: -20px;
  margin-left: 1rem;
}

.main_wrapper .banner-img img{
  float: right;
  width: 550px;
  margin-top: 12.65rem;
}


/* features section  */
.features_wrapper{
  padding: 100px 0 80px;
  background: #E5E5E5;
}
.features_wrapper .features_subtitle{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
}
.features_wrapper .features_title{
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 25px;
}
.features_wrapper h3{
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.features_wrapper .features_text{
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
}

/* search bar  */
.search_wrapper{
  display: flex;  
  font-weight: 600;
}

/* search bar 1 */
.dropdown{
  position: relative;
  margin-bottom: 5rem;
  width: 270px;
  height: 45px;
  z-index: 1;
}
.dropdown::before{
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  border: 2px solid #333;
  right: 20px;
  top: 15px;
  z-index: 1000;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

.dropdown.active::before{
  top: 22px;
  transform: rotate(-225deg);

}

.dropdown input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  background: #fff;
  border: 1px solid #333;
  outline: none;
  padding: 12px 20px;
  border-radius: 30px;
}
.dropdown .option{
  position: absolute;
  top: 70px;
  width: 100%;
  box-shadow: 0 30px 30px rgba(0,0,0,0.05);
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  display: none;
}
.dropdown.active .option{
  display: block;
}

.dropdown .option div{
  padding: 12px 20px;
  cursor: pointer;

}
.dropdown .option div:hover{
  background: #62baea;
  color: #fff;
}

/* search bar 2 */

.dropdown2{
  position: relative;
  margin-bottom: 5rem;
  width: 270px;
  height: 45px;
  margin-left: 3rem;
  z-index: 1;
}
.dropdown2::before{
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  border: 2px solid #333;
  right: 20px;
  top: 15px;
  z-index: 1000;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

.dropdown2.active::before{
  top: 22px;
  transform: rotate(-225deg);

}

.dropdown2 input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  background: #fff;
  border: 1px solid #333;
  outline: none;
  padding: 12px 20px;
  border-radius: 30px;
}
.dropdown2 .option2{
  position: absolute;
  top: 70px;
  width: 100%;
  box-shadow: 0 30px 30px rgba(0,0,0,0.05);
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  display: none;
}
.dropdown2.active .option2{
  display: block;
}

.dropdown2 .option2 div{
  padding: 12px 20px;
  cursor: pointer;

}
.dropdown2 .option2 div:hover{
  background: #62baea;
  color: #fff;
}

/* bar 3 */
.dropdown3{
  position: relative;
  margin-bottom: 5rem;
  width: 270px;
  height: 45px;
  margin-left: 3rem;
  z-index: 1;
}

.dropdown3 input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  background: #fff;
  border: 1px solid #333;
  outline: none;
  padding: 12px 20px;
  border-radius: 30px;
}
/* button */
.search_wrapper button{
  position: relative;
  float: right;
  margin-bottom: 5rem;
  width: 9rem;
  height: 45px;
  border-radius: 2rem;
  z-index: 1;
}


/* feature card section  */
#img{
  border-radius: 15px;
  background-color: #E5E5E5;
  border: none;
}
#img img{
  width: 100%;
  height: 100%;
} 

#img #click{
  border-radius: 2rem;
  margin-left: -.2rem;
}
#img i{
  color: yellow;
  font-size: 1rem;
  margin-top: .4rem;
}
#img i h6{
  color: gray;
  font-size: .6rem;
  margin-right: 2rem;
  margin-top: .2rem;
  margin-left: .2rem;
}

/* production css section  */
.product_wrapper{
  background: #E5E5E5;
}
.product_wrapper .product{
  margin-top: 5rem;
}
.about image {
  min-width: 100%;
  max-height: 100%;
}

.ping {
  width: 50px;
  margin-top: 5rem;
}
#btn1{
  border-radius: 2rem;
}


/* form section  */
.form_wrapper .container {
  box-sizing: border-box;
  border-radius: 5rem;
  height: 40rem;
  margin-top: 5rem;
}
.form_wrapper .img-fluid{
  position: relative;
  top: 8.1rem;
}


/* footer  */
.footer_wrapper {
  background-color: #E5E5E5;
  margin-top: 15rem;
}
.footer_wrapper figure{
  margin-top: 3rem;
}
.footer_wrapper h6{
  color: #7240C4;
  font-weight: 500;
  margin-top: 1rem;
}
.footer_wrapper .footer_subtitles{
  margin-top: 4rem;
}
.footer_wrapper .footer_subtitles p{
  color: #000000;
  font-family: poppins;
}
/* scroll bar  */
::-webkit-scrollbar{
  width: 15px;
}


::-webkit-scrollbar-track{
  background: #E5E5E5;  
}

::-webkit-scrollbar-thumb{
  background: #1BC0C0;
}

::-webkit-scrollbar-thumb:hover{
  background: #5906C2;
}